.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.fullpageContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.loginFields,.blogFields {
  margin-bottom: 10px;
}



.blogsContainer{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.blogItem {
  width: 200px;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
  margin-right: 20px;
  cursor: pointer;
  background-color: rgb(237, 237, 237);
}

.blogContainer {
  display: flex;
  flex-wrap:wrap;
  border: 1px solid grey;
  border-radius: 10px;
  min-height: 300px;
  background-color: rgb(237, 237, 237);;
}

.blogInfo {
  width:30%;
  padding: 10px;
  border-right: 1px solid grey;
  font-size: 35px;
  position: relative;
}
.blogDesc {
  padding: 10px;
}

.authorName {
position: absolute;
bottom: 0px;
font-style: italic;
font-size: 16px;
}
.status {
  text-align: right;
}
.editContainer {
  text-align: right;
}
.selectedBlog {
  margin-top: 50px;
}
.selectedBlog h2 {
  margin-bottom: 0px;
}
.addButtonContainer {
  display: flex;
  justify-content: end;
}
textarea {
  width: 350px;
  height:200px;
}

.loginForm {
  width: 300px;
    height: 500px;
}

.blogTitle {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}


  .multiline-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
  }
